.td.ipsIconAircraft { background-image: url(icons_black/Aircraft.svg); }
.td.ipsIconAlert { background-image: url(icons_black/Alert.svg); }
.td.ipsIconArrowRight { background-image: url(icons_black/ArrowRight.svg); }
.td.ipsIconBackspace { background-image: url(icons_black/Backspace.svg); }
.td.ipsIconBasement { background-image: url(icons_black/Basement.svg); }
.td.ipsIconBattery { background-image: url(icons_black/Battery.svg); }
.td.ipsIconBattery-0 { background-image: url(icons_black/Battery-0.svg); }
.td.ipsIconBattery-50 { background-image: url(icons_black/Battery-50.svg); }
.td.ipsIconBattery-100 { background-image: url(icons_black/Battery-100.svg); }
.td.ipsIconBulb { background-image: url(icons_black/Bulb.svg); }
.td.ipsIconCalendar { background-image: url(icons_black/Calendar.svg); }
.td.ipsIconCamera { background-image: url(icons_black/Camera.svg); }
.td.ipsIconCar { background-image: url(icons_black/Car.svg); }
.td.ipsIconCaret { background-image: url(icons_black/Caret.svg); }
.td.ipsIconCat { background-image: url(icons_black/Cat.svg); }
.td.ipsIconClimate { background-image: url(icons_black/Climate.svg); }
.td.ipsIconClock { background-image: url(icons_black/Clock.svg); }
.td.ipsIconClose { background-image: url(icons_black/Close.svg); }
.td.ipsIconCloseAll { background-image: url(icons_black/CloseAll.svg); }
.td.ipsIconclock { background-image: url(icons_black/clock.svg); }
.td.ipsIconCloud { background-image: url(icons_black/Cloud.svg); }
.td.ipsIconCocktail { background-image: url(icons_black/Cocktail.svg); }
.td.ipsIconCross { background-image: url(icons_black/Cross.svg); }
.td.ipsIconDatabase { background-image: url(icons_black/Database.svg); }
.td.ipsIconDining { background-image: url(icons_black/Dining.svg); }
.td.ipsIconDistance { background-image: url(icons_black/Distance.svg); }
.td.ipsIconDoctorBag { background-image: url(icons_black/DoctorBag.svg); }
.td.ipsIconDog { background-image: url(icons_black/Dog.svg); }
.td.ipsIconDollar { background-image: url(icons_black/Dollar.svg); }
.td.ipsIconDrops { background-image: url(icons_black/Drops.svg); }
.td.ipsIconDuck { background-image: url(icons_black/Duck.svg); }
.td.ipsIconEdit { background-image: url(icons_black/Edit.svg); }
.td.ipsIconElectricity { background-image: url(icons_black/Electricity.svg); }
.td.ipsIconErlenmeyerFlask { background-image: url(icons_black/ErlenmeyerFlask.svg); }
.td.ipsIconEuro { background-image: url(icons_black/Euro.svg); }
.td.ipsIconExecute { background-image: url(icons_black/Execute.svg); }
.td.ipsIconEyes { background-image: url(icons_black/Eyes.svg); }
.td.ipsIcon0 { background-image: url(icons_black/Eyes-0.svg); }
.td.ipsIcon100 { background-image: url(icons_black/Eyes-100.svg); }
.td.ipsIconFactory { background-image: url(icons_black/Factory.svg); }
.td.ipsIconFemale { background-image: url(icons_black/Female.svg); }
.td.ipsIconFlag { background-image: url(icons_black/Flag.svg); }
.td.ipsIconFlame { background-image: url(icons_black/Flame.svg); }
.td.ipsIconFlower { background-image: url(icons_black/Flower.svg); }
.td.ipsIconFog { background-image: url(icons_black/Fog.svg); }
.td.ipsIconGarage { background-image: url(icons_black/Garage.svg); }
.td.ipsIconGarage-0 { background-image: url(icons_black/Garage-0.svg); }
.td.ipsIconGarage-25 { background-image: url(icons_black/Garage-25.svg); }
.td.ipsIconGarage-100 { background-image: url(icons_black/Garage-100.svg); }
.td.ipsIconGauge { background-image: url(icons_black/Gauge.svg); }
.td.ipsIconGear { background-image: url(icons_black/Gear.svg); }
.td.ipsIconGraph { background-image: url(icons_black/Graph.svg); }
.td.ipsIconGroundFloor { background-image: url(icons_black/GroundFloor.svg); }
.td.ipsIconHollowArrowDown { background-image: url(icons_black/HollowArrowDown.svg); }
.td.ipsIconHollowArrowLeft { background-image: url(icons_black/HollowArrowLeft.svg); }
.td.ipsIconHollowArrowRight { background-image: url(icons_black/HollowArrowRight.svg); }
.td.ipsIconHollowArrowUp { background-image: url(icons_black/HollowArrowUp.svg); }
.td.ipsIconHollowDoubleArrowDown { background-image: url(icons_black/HollowDoubleArrowDown.svg); }
.td.ipsIconHollowDoubleArrowLeft { background-image: url(icons_black/HollowDoubleArrowLeft.svg); }
.td.ipsIconHollowDoubleArrowRight { background-image: url(icons_black/HollowDoubleArrowRight.svg); }
.td.ipsIconHollowDoubleArrowUp { background-image: url(icons_black/HollowDoubleArrowUp.svg); }
.td.ipsIconHollowLargeArrowDown { background-image: url(icons_black/HollowLargeArrowDown.svg); }
.td.ipsIconHollowLargeArrowLeft { background-image: url(icons_black/HollowLargeArrowLeft.svg); }
.td.ipsIconHollowLargeArrowRight { background-image: url(icons_black/HollowLargeArrowRight.svg); }
.td.ipsIconHollowLargeArrowUp { background-image: url(icons_black/HollowLargeArrowUp.svg); }
.td.ipsIconHourglass { background-image: url(icons_black/Hourglass.svg); }
.td.ipsIconHourglass-0 { background-image: url(icons_black/Hourglass-0.svg); }
.td.ipsIconHourglass-30 { background-image: url(icons_black/Hourglass-30.svg); }
.td.ipsIconHourglass-50 { background-image: url(icons_black/Hourglass-50.svg); }
.td.ipsIconHourglass-60 { background-image: url(icons_black/Hourglass-60.svg); }
.td.ipsIconHourglass-100 { background-image: url(icons_black/Hourglass-100.svg); }
.td.ipsIconHouseRemote { background-image: url(icons_black/HouseRemote.svg); }
.td.ipsIconImage { background-image: url(icons_black/Image.svg); }
.td.ipsIconInformation { background-image: url(icons_black/Information.svg); }
.td.ipsIconIntensity { background-image: url(icons_black/Intensity.svg); }
.td.ipsIconIntensity-0 { background-image: url(icons_black/Intensity-0.svg); }
.td.ipsIconIntensity-25 { background-image: url(icons_black/Intensity-25.svg); }
.td.ipsIconIntensity-50 { background-image: url(icons_black/Intensity-50.svg); }
.td.ipsIconIntensity-75 { background-image: url(icons_black/Intensity-75.svg); }
.td.ipsIconIntensity-100 { background-image: url(icons_black/Intensity-100.svg); }
.td.ipsIconInternet { background-image: url(icons_black/Internet.svg); }
.td.ipsIconIPS { background-image: url(icons_black/IPS.svg); }
.td.ipsIconJalousie { background-image: url(icons_black/Jalousie.svg); }
.td.ipsIconJalousie-0 { background-image: url(icons_black/Jalousie-0.svg); }
.td.ipsIconJalousie-50 { background-image: url(icons_black/Jalousie-50.svg); }
.td.ipsIconJalousie-100 { background-image: url(icons_black/Jalousie-100.svg); }
.td.ipsIconKey { background-image: url(icons_black/Key.svg); }
.td.ipsIconKeyboard { background-image: url(icons_black/Keyboard.svg); }
.td.ipsIconKitchen { background-image: url(icons_black/Kitchen.svg); }
.td.ipsIconLeaf { background-image: url(icons_black/Leaf.svg); }
.td.ipsIconLight { background-image: url(icons_black/Light.svg); }
.td.ipsIconLight-0 { background-image: url(icons_black/Light-0.svg); }
.td.ipsIconLight-1 { background-image: url(icons_black/Light-1.svg); }
.td.ipsIconLight-25 { background-image: url(icons_black/Light-25.svg); }
.td.ipsIconLight-50 { background-image: url(icons_black/Light-50.svg); }
.td.ipsIconLight-75 { background-image: url(icons_black/Light-75.svg); }
.td.ipsIconLight-100 { background-image: url(icons_black/Light-100.svg); }
.td.ipsIconLightning { background-image: url(icons_black/Lightning.svg); }
.td.ipsIconLock { background-image: url(icons_black/Lock.svg); }
.td.ipsIconLock-0 { background-image: url(icons_black/Lock-0.svg); }
.td.ipsIconLock-100 { background-image: url(icons_black/Lock-100.svg); }
.td.ipsIconLockClosed { background-image: url(icons_black/LockClosed.svg); }
.td.ipsIconLockOpen { background-image: url(icons_black/LockOpen.svg); }
.td.ipsIconMacro { background-image: url(icons_black/Macro.svg); }
.td.ipsIconMail { background-image: url(icons_black/Mail.svg); }
.td.ipsIconMale { background-image: url(icons_black/Male.svg); }
.td.ipsIconMelody { background-image: url(icons_black/Melody.svg); }
.td.ipsIconMinus { background-image: url(icons_black/Minus.svg); }
.td.ipsIconMobile { background-image: url(icons_black/Mobile.svg); }
.td.ipsIconMoon { background-image: url(icons_black/Moon.svg); }
.td.ipsIconMotion { background-image: url(icons_black/Motion.svg); }
.td.ipsIconMove { background-image: url(icons_black/Move.svg); }
.td.ipsIconMusic { background-image: url(icons_black/Music.svg); }
.td.ipsIconNetwork { background-image: url(icons_black/Network.svg); }
.td.ipsIconNotebook { background-image: url(icons_black/Notebook.svg); }
.td.ipsIconOk { background-image: url(icons_black/Ok.svg); }
.td.ipsIconPacifier { background-image: url(icons_black/Pacifier.svg); }
.td.ipsIconPaintbrush { background-image: url(icons_black/Paintbrush.svg); }
.td.ipsIconPlug { background-image: url(icons_black/Plug.svg); }
.td.ipsIconPlus { background-image: url(icons_black/Plus.svg); }
.td.ipsIconPopcorn { background-image: url(icons_black/Popcorn.svg); }
.td.ipsIconPower { background-image: url(icons_black/Power.svg); }
.td.ipsIconRadiator { background-image: url(icons_black/Radiator.svg); }
.td.ipsIconRainfall { background-image: url(icons_black/Rainfall.svg); }
.td.ipsIconRecycling { background-image: url(icons_black/Recycling.svg); }
.td.ipsIconRepeat { background-image: url(icons_black/Repeat.svg); }
.td.ipsIconReturn { background-image: url(icons_black/Return.svg); }
.td.ipsIconRobot { background-image: url(icons_black/Robot.svg); }
.td.ipsIconRocket { background-image: url(icons_black/Rocket.svg); }
.td.ipsIconScript { background-image: url(icons_black/Script.svg); }
.td.ipsIconShift { background-image: url(icons_black/Shift.svg); }
.td.ipsIconShower { background-image: url(icons_black/Shower.svg); }
.td.ipsIconShuffle { background-image: url(icons_black/Shuffle.svg); }
.td.ipsIconShutter { background-image: url(icons_black/Shutter.svg); }
.td.ipsIconSleep { background-image: url(icons_black/Sleep.svg); }
.td.ipsIconSnow { background-image: url(icons_black/Snow.svg); }
.td.ipsIconSnowflake { background-image: url(icons_black/Snowflake.svg); }
.td.ipsIconSofa { background-image: url(icons_black/Sofa.svg); }
.td.ipsIconSpeaker { background-image: url(icons_black/Speaker.svg); }
.td.ipsIconSpeaker-0 { background-image: url(icons_black/Speaker-0.svg); }
.td.ipsIconSpeaker-1 { background-image: url(icons_black/Speaker-1.svg); }
.td.ipsIconSpeaker-25 { background-image: url(icons_black/Speaker-25.svg); }
.td.ipsIconSpeaker-50 { background-image: url(icons_black/Speaker-50.svg); }
.td.ipsIconSpeaker-100 { background-image: url(icons_black/Speaker-100.svg); }
.td.ipsIconSpeedo { background-image: url(icons_black/Speedo.svg); }
.td.ipsIconSpeedo-0 { background-image: url(icons_black/Speedo-0.svg); }
.td.ipsIconSpeedo-25 { background-image: url(icons_black/Speedo-25.svg); }
.td.ipsIconSpeedo-50 { background-image: url(icons_black/Speedo-50.svg); }
.td.ipsIconSpeedo-75 { background-image: url(icons_black/Speedo-75.svg); }
.td.ipsIconSpeedo-100 { background-image: url(icons_black/Speedo-100.svg); }
.td.ipsIconStars { background-image: url(icons_black/Stars.svg); }
.td.ipsIconSun { background-image: url(icons_black/Sun.svg); }
.td.ipsIconTalk { background-image: url(icons_black/Talk.svg); }
.td.ipsIconTap { background-image: url(icons_black/Tap.svg); }
.td.ipsIconTelephone { background-image: url(icons_black/Telephone.svg); }
.td.ipsIconTemperature { background-image: url(icons_black/Temperature.svg); }
.td.ipsIconTemperature-0 { background-image: url(icons_black/Temperature-0.svg); }
.td.ipsIconTemperature-25 { background-image: url(icons_black/Temperature-25.svg); }
.td.ipsIconTemperature-50 { background-image: url(icons_black/Temperature-50.svg); }
.td.ipsIconTemperature-75 { background-image: url(icons_black/Temperature-75.svg); }
.td.ipsIconTemperature-100 { background-image: url(icons_black/Temperature-100.svg); }
.td.ipsIconTitle { background-image: url(icons_black/Title.svg); }
.td.ipsIconTopFloor { background-image: url(icons_black/TopFloor.svg); }
.td.ipsIconTree { background-image: url(icons_black/Tree.svg); }
.td.ipsIconTurnLeft { background-image: url(icons_black/TurnLeft.svg); }
.td.ipsIconTurnRight { background-image: url(icons_black/TurnRight.svg); }
.td.ipsIconTV { background-image: url(icons_black/TV.svg); }
.td.ipsIconUnicorn { background-image: url(icons_black/Unicorn.svg); }
.td.ipsIconVentilation { background-image: url(icons_black/Ventilation.svg); }
.td.ipsIconWarning { background-image: url(icons_black/Warning.svg); }
.td.ipsIconWave { background-image: url(icons_black/Wave.svg); }
.td.ipsIconWC { background-image: url(icons_black/WC.svg); }
.td.ipsIconWellness { background-image: url(icons_black/Wellness.svg); }
.td.ipsIconWindDirection { background-image: url(icons_black/WindDirection.svg); }
.td.ipsIconWindow { background-image: url(icons_black/Window.svg); }
.td.ipsIconWindow-0 { background-image: url(icons_black/Window-0.svg); }
.td.ipsIconWindow-100 { background-image: url(icons_black/Window-100.svg); }
.td.ipsIconWindSpeed { background-image: url(icons_black/WindSpeed.svg); }
.td.ipsIconWindSpeed-0 { background-image: url(icons_black/WindSpeed-0.svg); }
.td.ipsIconWindSpeed-30 { background-image: url(icons_black/WindSpeed-30.svg); }
.td.ipsIconWindSpeed-60 { background-image: url(icons_black/WindSpeed-60.svg); }
.td.ipsIconWindSpeed-100 { background-image: url(icons_black/WindSpeed-100.svg); }
.td.ipsIconXBMC { background-image: url(icons_black/XBMC.svg); }

.td.ipsIconClock-12-00 { background-image: url(icons_black/clock/Clock-12-00.svg); }
.td.ipsIconClock-12-05 { background-image: url(icons_black/clock/Clock-12-05.svg); }
.td.ipsIconClock-12-10 { background-image: url(icons_black/clock/Clock-12-10.svg); }
.td.ipsIconClock-12-15 { background-image: url(icons_black/clock/Clock-12-15.svg); }
.td.ipsIconClock-12-20 { background-image: url(icons_black/clock/Clock-12-20.svg); }
.td.ipsIconClock-12-25 { background-image: url(icons_black/clock/Clock-12-25.svg); }
.td.ipsIconClock-12-30 { background-image: url(icons_black/clock/Clock-12-30.svg); }
.td.ipsIconClock-12-35 { background-image: url(icons_black/clock/Clock-12-35.svg); }
.td.ipsIconClock-12-40 { background-image: url(icons_black/clock/Clock-12-40.svg); }
.td.ipsIconClock-12-45 { background-image: url(icons_black/clock/Clock-12-45.svg); }
.td.ipsIconClock-12-50 { background-image: url(icons_black/clock/Clock-12-50.svg); }
.td.ipsIconClock-12-55 { background-image: url(icons_black/clock/Clock-12-55.svg); }

.td.ipsIconClock-13-00 { background-image: url(icons_black/clock/Clock-13-00.svg); }
.td.ipsIconClock-13-05 { background-image: url(icons_black/clock/Clock-13-05.svg); }
.td.ipsIconClock-13-10 { background-image: url(icons_black/clock/Clock-13-10.svg); }
.td.ipsIconClock-13-15 { background-image: url(icons_black/clock/Clock-13-15.svg); }
.td.ipsIconClock-13-20 { background-image: url(icons_black/clock/Clock-13-20.svg); }
.td.ipsIconClock-13-25 { background-image: url(icons_black/clock/Clock-13-25.svg); }
.td.ipsIconClock-13-30 { background-image: url(icons_black/clock/Clock-13-30.svg); }
.td.ipsIconClock-13-35 { background-image: url(icons_black/clock/Clock-13-35.svg); }
.td.ipsIconClock-13-40 { background-image: url(icons_black/clock/Clock-13-40.svg); }
.td.ipsIconClock-13-45 { background-image: url(icons_black/clock/Clock-13-45.svg); }
.td.ipsIconClock-13-50 { background-image: url(icons_black/clock/Clock-13-50.svg); }
.td.ipsIconClock-13-55 { background-image: url(icons_black/clock/Clock-13-55.svg); }
    
.td.ipsIconClock-14-00 { background-image: url(icons_black/clock/Clock-14-00.svg); }
.td.ipsIconClock-14-05 { background-image: url(icons_black/clock/Clock-14-05.svg); }
.td.ipsIconClock-14-10 { background-image: url(icons_black/clock/Clock-14-10.svg); }
.td.ipsIconClock-14-15 { background-image: url(icons_black/clock/Clock-14-15.svg); }
.td.ipsIconClock-14-20 { background-image: url(icons_black/clock/Clock-14-20.svg); }
.td.ipsIconClock-14-25 { background-image: url(icons_black/clock/Clock-14-25.svg); }
.td.ipsIconClock-14-30 { background-image: url(icons_black/clock/Clock-14-30.svg); }
.td.ipsIconClock-14-35 { background-image: url(icons_black/clock/Clock-14-35.svg); }
.td.ipsIconClock-14-40 { background-image: url(icons_black/clock/Clock-14-40.svg); }
.td.ipsIconClock-14-45 { background-image: url(icons_black/clock/Clock-14-45.svg); }
.td.ipsIconClock-14-50 { background-image: url(icons_black/clock/Clock-14-50.svg); }
.td.ipsIconClock-14-55 { background-image: url(icons_black/clock/Clock-14-55.svg); }
    
.td.ipsIconClock-15-00 { background-image: url(icons_black/clock/Clock-15-00.svg); }
.td.ipsIconClock-15-05 { background-image: url(icons_black/clock/Clock-15-05.svg); }
.td.ipsIconClock-15-10 { background-image: url(icons_black/clock/Clock-15-10.svg); }
.td.ipsIconClock-15-15 { background-image: url(icons_black/clock/Clock-15-15.svg); }
.td.ipsIconClock-15-20 { background-image: url(icons_black/clock/Clock-15-20.svg); }
.td.ipsIconClock-15-25 { background-image: url(icons_black/clock/Clock-15-25.svg); }
.td.ipsIconClock-15-30 { background-image: url(icons_black/clock/Clock-15-30.svg); }
.td.ipsIconClock-15-35 { background-image: url(icons_black/clock/Clock-15-35.svg); }
.td.ipsIconClock-15-40 { background-image: url(icons_black/clock/Clock-15-40.svg); }
.td.ipsIconClock-15-45 { background-image: url(icons_black/clock/Clock-15-45.svg); }
.td.ipsIconClock-15-50 { background-image: url(icons_black/clock/Clock-15-50.svg); }
.td.ipsIconClock-15-55 { background-image: url(icons_black/clock/Clock-15-55.svg); }

.td.ipsIconClock-16-00 { background-image: url(icons_black/clock/Clock-16-00.svg); }
.td.ipsIconClock-16-05 { background-image: url(icons_black/clock/Clock-16-05.svg); }
.td.ipsIconClock-16-10 { background-image: url(icons_black/clock/Clock-16-10.svg); }
.td.ipsIconClock-16-15 { background-image: url(icons_black/clock/Clock-16-15.svg); }
.td.ipsIconClock-16-20 { background-image: url(icons_black/clock/Clock-16-20.svg); }
.td.ipsIconClock-16-25 { background-image: url(icons_black/clock/Clock-16-25.svg); }
.td.ipsIconClock-16-30 { background-image: url(icons_black/clock/Clock-16-30.svg); }
.td.ipsIconClock-16-35 { background-image: url(icons_black/clock/Clock-16-35.svg); }
.td.ipsIconClock-16-40 { background-image: url(icons_black/clock/Clock-16-40.svg); }
.td.ipsIconClock-16-45 { background-image: url(icons_black/clock/Clock-16-45.svg); }
.td.ipsIconClock-16-50 { background-image: url(icons_black/clock/Clock-16-50.svg); }
.td.ipsIconClock-16-55 { background-image: url(icons_black/clock/Clock-16-55.svg); }

.td.ipsIconClock-17-00 { background-image: url(icons_black/clock/Clock-17-00.svg); }
.td.ipsIconClock-17-05 { background-image: url(icons_black/clock/Clock-17-05.svg); }
.td.ipsIconClock-17-10 { background-image: url(icons_black/clock/Clock-17-10.svg); }
.td.ipsIconClock-17-15 { background-image: url(icons_black/clock/Clock-17-15.svg); }
.td.ipsIconClock-17-20 { background-image: url(icons_black/clock/Clock-17-20.svg); }
.td.ipsIconClock-17-25 { background-image: url(icons_black/clock/Clock-17-25.svg); }
.td.ipsIconClock-17-30 { background-image: url(icons_black/clock/Clock-17-30.svg); }
.td.ipsIconClock-17-35 { background-image: url(icons_black/clock/Clock-17-35.svg); }
.td.ipsIconClock-17-40 { background-image: url(icons_black/clock/Clock-17-40.svg); }
.td.ipsIconClock-17-45 { background-image: url(icons_black/clock/Clock-17-45.svg); }
.td.ipsIconClock-17-50 { background-image: url(icons_black/clock/Clock-17-50.svg); }
.td.ipsIconClock-17-55 { background-image: url(icons_black/clock/Clock-17-55.svg); }

.td.ipsIconClock-18-00 { background-image: url(icons_black/clock/Clock-18-00.svg); }
.td.ipsIconClock-18-05 { background-image: url(icons_black/clock/Clock-18-05.svg); }
.td.ipsIconClock-18-10 { background-image: url(icons_black/clock/Clock-18-10.svg); }
.td.ipsIconClock-18-15 { background-image: url(icons_black/clock/Clock-18-15.svg); }
.td.ipsIconClock-18-20 { background-image: url(icons_black/clock/Clock-18-20.svg); }
.td.ipsIconClock-18-25 { background-image: url(icons_black/clock/Clock-18-25.svg); }
.td.ipsIconClock-18-30 { background-image: url(icons_black/clock/Clock-18-30.svg); }
.td.ipsIconClock-18-35 { background-image: url(icons_black/clock/Clock-18-35.svg); }
.td.ipsIconClock-18-40 { background-image: url(icons_black/clock/Clock-18-40.svg); }
.td.ipsIconClock-18-45 { background-image: url(icons_black/clock/Clock-18-45.svg); }
.td.ipsIconClock-18-50 { background-image: url(icons_black/clock/Clock-18-50.svg); }
.td.ipsIconClock-18-55 { background-image: url(icons_black/clock/Clock-18-55.svg); }

.td.ipsIconClock-19-00 { background-image: url(icons_black/clock/Clock-19-00.svg); }
.td.ipsIconClock-19-05 { background-image: url(icons_black/clock/Clock-19-05.svg); }
.td.ipsIconClock-19-10 { background-image: url(icons_black/clock/Clock-19-10.svg); }
.td.ipsIconClock-19-15 { background-image: url(icons_black/clock/Clock-19-15.svg); }
.td.ipsIconClock-19-20 { background-image: url(icons_black/clock/Clock-19-20.svg); }
.td.ipsIconClock-19-25 { background-image: url(icons_black/clock/Clock-19-25.svg); }
.td.ipsIconClock-19-30 { background-image: url(icons_black/clock/Clock-19-30.svg); }
.td.ipsIconClock-19-35 { background-image: url(icons_black/clock/Clock-19-35.svg); }
.td.ipsIconClock-19-40 { background-image: url(icons_black/clock/Clock-19-40.svg); }
.td.ipsIconClock-19-45 { background-image: url(icons_black/clock/Clock-19-45.svg); }
.td.ipsIconClock-19-50 { background-image: url(icons_black/clock/Clock-19-50.svg); }
.td.ipsIconClock-19-55 { background-image: url(icons_black/clock/Clock-19-55.svg); }

.td.ipsIconClock-20-00 { background-image: url(icons_black/clock/Clock-20-00.svg); }
.td.ipsIconClock-20-05 { background-image: url(icons_black/clock/Clock-20-05.svg); }
.td.ipsIconClock-20-10 { background-image: url(icons_black/clock/Clock-20-10.svg); }
.td.ipsIconClock-20-15 { background-image: url(icons_black/clock/Clock-20-15.svg); }
.td.ipsIconClock-20-20 { background-image: url(icons_black/clock/Clock-20-20.svg); }
.td.ipsIconClock-20-25 { background-image: url(icons_black/clock/Clock-20-25.svg); }
.td.ipsIconClock-20-30 { background-image: url(icons_black/clock/Clock-20-30.svg); }
.td.ipsIconClock-20-35 { background-image: url(icons_black/clock/Clock-20-35.svg); }
.td.ipsIconClock-20-40 { background-image: url(icons_black/clock/Clock-20-40.svg); }
.td.ipsIconClock-20-45 { background-image: url(icons_black/clock/Clock-20-45.svg); }
.td.ipsIconClock-20-50 { background-image: url(icons_black/clock/Clock-20-50.svg); }
.td.ipsIconClock-20-55 { background-image: url(icons_black/clock/Clock-20-55.svg); }

.td.ipsIconClock-21-00 { background-image: url(icons_black/clock/Clock-21-00.svg); }
.td.ipsIconClock-21-05 { background-image: url(icons_black/clock/Clock-21-05.svg); }
.td.ipsIconClock-21-10 { background-image: url(icons_black/clock/Clock-21-10.svg); }
.td.ipsIconClock-21-15 { background-image: url(icons_black/clock/Clock-21-15.svg); }
.td.ipsIconClock-21-20 { background-image: url(icons_black/clock/Clock-21-20.svg); }
.td.ipsIconClock-21-25 { background-image: url(icons_black/clock/Clock-21-25.svg); }
.td.ipsIconClock-21-30 { background-image: url(icons_black/clock/Clock-21-30.svg); }
.td.ipsIconClock-21-35 { background-image: url(icons_black/clock/Clock-21-35.svg); }
.td.ipsIconClock-21-40 { background-image: url(icons_black/clock/Clock-21-40.svg); }
.td.ipsIconClock-21-45 { background-image: url(icons_black/clock/Clock-21-45.svg); }
.td.ipsIconClock-21-50 { background-image: url(icons_black/clock/Clock-21-50.svg); }
.td.ipsIconClock-21-55 { background-image: url(icons_black/clock/Clock-21-55.svg); }

.td.ipsIconClock-22-00 { background-image: url(icons_black/clock/Clock-22-00.svg); }
.td.ipsIconClock-22-05 { background-image: url(icons_black/clock/Clock-22-05.svg); }
.td.ipsIconClock-22-10 { background-image: url(icons_black/clock/Clock-22-10.svg); }
.td.ipsIconClock-22-15 { background-image: url(icons_black/clock/Clock-22-15.svg); }
.td.ipsIconClock-22-20 { background-image: url(icons_black/clock/Clock-22-20.svg); }
.td.ipsIconClock-22-25 { background-image: url(icons_black/clock/Clock-22-25.svg); }
.td.ipsIconClock-22-30 { background-image: url(icons_black/clock/Clock-22-30.svg); }
.td.ipsIconClock-22-35 { background-image: url(icons_black/clock/Clock-22-35.svg); }
.td.ipsIconClock-22-40 { background-image: url(icons_black/clock/Clock-22-40.svg); }
.td.ipsIconClock-22-45 { background-image: url(icons_black/clock/Clock-22-45.svg); }
.td.ipsIconClock-22-50 { background-image: url(icons_black/clock/Clock-22-50.svg); }
.td.ipsIconClock-22-55 { background-image: url(icons_black/clock/Clock-22-55.svg); }

.td.ipsIconClock-23-00 { background-image: url(icons_black/clock/Clock-23-00.svg); }
.td.ipsIconClock-23-05 { background-image: url(icons_black/clock/Clock-23-05.svg); }
.td.ipsIconClock-23-10 { background-image: url(icons_black/clock/Clock-23-10.svg); }
.td.ipsIconClock-23-15 { background-image: url(icons_black/clock/Clock-23-15.svg); }
.td.ipsIconClock-23-20 { background-image: url(icons_black/clock/Clock-23-20.svg); }
.td.ipsIconClock-23-25 { background-image: url(icons_black/clock/Clock-23-25.svg); }
.td.ipsIconClock-23-30 { background-image: url(icons_black/clock/Clock-23-30.svg); }
.td.ipsIconClock-23-35 { background-image: url(icons_black/clock/Clock-23-35.svg); }
.td.ipsIconClock-23-40 { background-image: url(icons_black/clock/Clock-23-40.svg); }
.td.ipsIconClock-23-45 { background-image: url(icons_black/clock/Clock-23-45.svg); }
.td.ipsIconClock-23-50 { background-image: url(icons_black/clock/Clock-23-50.svg); }
.td.ipsIconClock-23-55 { background-image: url(icons_black/clock/Clock-23-55.svg); }
