.ipsIconAircraft { background-image: url(icons_black/Aircraft.svg); }
.ipsIconAlert { background-image: url(icons_black/Alert.svg); }
.ipsIconArrowRight { background-image: url(icons_black/ArrowRight.svg); }
.ipsIconBackspace { background-image: url(icons_black/Backspace.svg); }
.ipsIconBasement { background-image: url(icons_black/Basement.svg); }
.ipsIconBattery { background-image: url(icons_black/Battery.svg); }
.ipsIconBattery-0 { background-image: url(icons_black/Battery-0.svg); }
.ipsIconBattery-50 { background-image: url(icons_black/Battery-50.svg); }
.ipsIconBattery-100 { background-image: url(icons_black/Battery-100.svg); }
.ipsIconBulb { background-image: url(icons_black/Bulb.svg); }
.ipsIconCalendar { background-image: url(icons_black/Calendar.svg); }
.ipsIconCamera { background-image: url(icons_black/Camera.svg); }
.ipsIconCar { background-image: url(icons_black/Car.svg); }
.ipsIconCaret { background-image: url(icons_black/Caret.svg); }
.ipsIconCat { background-image: url(icons_black/Cat.svg); }
.ipsIconClimate { background-image: url(icons_black/Climate.svg); }
.ipsIconClock { background-image: url(icons_black/Clock.svg); }
.ipsIconClose { background-image: url(icons_black/Close.svg); }
.ipsIconCloseAll { background-image: url(icons_black/CloseAll.svg); }
.ipsIconclock { background-image: url(icons_black/clock.svg); }
.ipsIconCloud { background-image: url(icons_black/Cloud.svg); }
.ipsIconCocktail { background-image: url(icons_black/Cocktail.svg); }
.ipsIconCross { background-image: url(icons_black/Cross.svg); }
.ipsIconDatabase { background-image: url(icons_black/Database.svg); }
.ipsIconDining { background-image: url(icons_black/Dining.svg); }
.ipsIconDistance { background-image: url(icons_black/Distance.svg); }
.ipsIconDoctorBag { background-image: url(icons_black/DoctorBag.svg); }
.ipsIconDog { background-image: url(icons_black/Dog.svg); }
.ipsIconDollar { background-image: url(icons_black/Dollar.svg); }
.ipsIconDrops { background-image: url(icons_black/Drops.svg); }
.ipsIconDuck { background-image: url(icons_black/Duck.svg); }
.ipsIconEdit { background-image: url(icons_black/Edit.svg); }
.ipsIconElectricity { background-image: url(icons_black/Electricity.svg); }
.ipsIconErlenmeyerFlask { background-image: url(icons_black/ErlenmeyerFlask.svg); }
.ipsIconEuro { background-image: url(icons_black/Euro.svg); }
.ipsIconExecute { background-image: url(icons_black/Execute.svg); }
.ipsIconEyes { background-image: url(icons_black/Eyes.svg); }
.ipsIcon0 { background-image: url(icons_black/Eyes-0.svg); }
.ipsIcon100 { background-image: url(icons_black/Eyes-100.svg); }
.ipsIconFactory { background-image: url(icons_black/Factory.svg); }
.ipsIconFemale { background-image: url(icons_black/Female.svg); }
.ipsIconFlag { background-image: url(icons_black/Flag.svg); }
.ipsIconFlame { background-image: url(icons_black/Flame.svg); }
.ipsIconFlower { background-image: url(icons_black/Flower.svg); }
.ipsIconFog { background-image: url(icons_black/Fog.svg); }
.ipsIconGarage { background-image: url(icons_black/Garage.svg); }
.ipsIconGarage-0 { background-image: url(icons_black/Garage-0.svg); }
.ipsIconGarage-25 { background-image: url(icons_black/Garage-25.svg); }
.ipsIconGarage-100 { background-image: url(icons_black/Garage-100.svg); }
.ipsIconGauge { background-image: url(icons_black/Gauge.svg); }
.ipsIconGear { background-image: url(icons_black/Gear.svg); }
.ipsIconGraph { background-image: url(icons_black/Graph.svg); }
.ipsIconGroundFloor { background-image: url(icons_black/GroundFloor.svg); }
.ipsIconHollowArrowDown { background-image: url(icons_black/HollowArrowDown.svg); }
.ipsIconHollowArrowLeft { background-image: url(icons_black/HollowArrowLeft.svg); }
.ipsIconHollowArrowRight { background-image: url(icons_black/HollowArrowRight.svg); }
.ipsIconHollowArrowUp { background-image: url(icons_black/HollowArrowUp.svg); }
.ipsIconHollowDoubleArrowDown { background-image: url(icons_black/HollowDoubleArrowDown.svg); }
.ipsIconHollowDoubleArrowLeft { background-image: url(icons_black/HollowDoubleArrowLeft.svg); }
.ipsIconHollowDoubleArrowRight { background-image: url(icons_black/HollowDoubleArrowRight.svg); }
.ipsIconHollowDoubleArrowUp { background-image: url(icons_black/HollowDoubleArrowUp.svg); }
.ipsIconHollowLargeArrowDown { background-image: url(icons_black/HollowLargeArrowDown.svg); }
.ipsIconHollowLargeArrowLeft { background-image: url(icons_black/HollowLargeArrowLeft.svg); }
.ipsIconHollowLargeArrowRight { background-image: url(icons_black/HollowLargeArrowRight.svg); }
.ipsIconHollowLargeArrowUp { background-image: url(icons_black/HollowLargeArrowUp.svg); }
.ipsIconHourglass { background-image: url(icons_black/Hourglass.svg); }
.ipsIconHourglass-0 { background-image: url(icons_black/Hourglass-0.svg); }
.ipsIconHourglass-30 { background-image: url(icons_black/Hourglass-30.svg); }
.ipsIconHourglass-50 { background-image: url(icons_black/Hourglass-50.svg); }
.ipsIconHourglass-60 { background-image: url(icons_black/Hourglass-60.svg); }
.ipsIconHourglass-100 { background-image: url(icons_black/Hourglass-100.svg); }
.ipsIconHouseRemote { background-image: url(icons_black/HouseRemote.svg); }
.ipsIconImage { background-image: url(icons_black/Image.svg); }
.ipsIconInformation { background-image: url(icons_black/Information.svg); }
.ipsIconIntensity { background-image: url(icons_black/Intensity.svg); }
.ipsIconIntensity-0 { background-image: url(icons_black/Intensity-0.svg); }
.ipsIconIntensity-25 { background-image: url(icons_black/Intensity-25.svg); }
.ipsIconIntensity-50 { background-image: url(icons_black/Intensity-50.svg); }
.ipsIconIntensity-75 { background-image: url(icons_black/Intensity-75.svg); }
.ipsIconIntensity-100 { background-image: url(icons_black/Intensity-100.svg); }
.ipsIconInternet { background-image: url(icons_black/Internet.svg); }
.ipsIconIPS { background-image: url(icons_black/IPS.svg); }
.ipsIconJalousie { background-image: url(icons_black/Jalousie.svg); }
.ipsIconJalousie-0 { background-image: url(icons_black/Jalousie-0.svg); }
.ipsIconJalousie-50 { background-image: url(icons_black/Jalousie-50.svg); }
.ipsIconJalousie-100 { background-image: url(icons_black/Jalousie-100.svg); }
.ipsIconKey { background-image: url(icons_black/Key.svg); }
.ipsIconKeyboard { background-image: url(icons_black/Keyboard.svg); }
.ipsIconKitchen { background-image: url(icons_black/Kitchen.svg); }
.ipsIconLeaf { background-image: url(icons_black/Leaf.svg); }
.ipsIconLight { background-image: url(icons_black/Light.svg); }
.ipsIconLight-0 { background-image: url(icons_black/Light-0.svg); }
.ipsIconLight-1 { background-image: url(icons_black/Light-1.svg); }
.ipsIconLight-25 { background-image: url(icons_black/Light-25.svg); }
.ipsIconLight-50 { background-image: url(icons_black/Light-50.svg); }
.ipsIconLight-75 { background-image: url(icons_black/Light-75.svg); }
.ipsIconLight-100 { background-image: url(icons_black/Light-100.svg); }
.ipsIconLightning { background-image: url(icons_black/Lightning.svg); }
.ipsIconLock { background-image: url(icons_black/Lock.svg); }
.ipsIconLock-0 { background-image: url(icons_black/Lock-0.svg); }
.ipsIconLock-100 { background-image: url(icons_black/Lock-100.svg); }
.ipsIconLockClosed { background-image: url(icons_black/LockClosed.svg); }
.ipsIconLockOpen { background-image: url(icons_black/LockOpen.svg); }
.ipsIconMacro { background-image: url(icons_black/Macro.svg); }
.ipsIconMail { background-image: url(icons_black/Mail.svg); }
.ipsIconMale { background-image: url(icons_black/Male.svg); }
.ipsIconMelody { background-image: url(icons_black/Melody.svg); }
.ipsIconMinus { background-image: url(icons_black/Minus.svg); }
.ipsIconMobile { background-image: url(icons_black/Mobile.svg); }
.ipsIconMoon { background-image: url(icons_black/Moon.svg); }
.ipsIconMotion { background-image: url(icons_black/Motion.svg); }
.ipsIconMove { background-image: url(icons_black/Move.svg); }
.ipsIconMusic { background-image: url(icons_black/Music.svg); }
.ipsIconNetwork { background-image: url(icons_black/Network.svg); }
.ipsIconNotebook { background-image: url(icons_black/Notebook.svg); }
.ipsIconOk { background-image: url(icons_black/Ok.svg); }
.ipsIconPacifier { background-image: url(icons_black/Pacifier.svg); }
.ipsIconPaintbrush { background-image: url(icons_black/Paintbrush.svg); }
.ipsIconPlug { background-image: url(icons_black/Plug.svg); }
.ipsIconPlus { background-image: url(icons_black/Plus.svg); }
.ipsIconPopcorn { background-image: url(icons_black/Popcorn.svg); }
.ipsIconPower { background-image: url(icons_black/Power.svg); }
.ipsIconRadiator { background-image: url(icons_black/Radiator.svg); }
.ipsIconRainfall { background-image: url(icons_black/Rainfall.svg); }
.ipsIconRecycling { background-image: url(icons_black/Recycling.svg); }
.ipsIconRepeat { background-image: url(icons_black/Repeat.svg); }
.ipsIconReturn { background-image: url(icons_black/Return.svg); }
.ipsIconRobot { background-image: url(icons_black/Robot.svg); }
.ipsIconRocket { background-image: url(icons_black/Rocket.svg); }
.ipsIconScript { background-image: url(icons_black/Script.svg); }
.ipsIconShift { background-image: url(icons_black/Shift.svg); }
.ipsIconShower { background-image: url(icons_black/Shower.svg); }
.ipsIconShuffle { background-image: url(icons_black/Shuffle.svg); }
.ipsIconShutter { background-image: url(icons_black/Shutter.svg); }
.ipsIconSleep { background-image: url(icons_black/Sleep.svg); }
.ipsIconSnow { background-image: url(icons_black/Snow.svg); }
.ipsIconSnowflake { background-image: url(icons_black/Snowflake.svg); }
.ipsIconSofa { background-image: url(icons_black/Sofa.svg); }
.ipsIconSpeaker { background-image: url(icons_black/Speaker.svg); }
.ipsIconSpeaker-0 { background-image: url(icons_black/Speaker-0.svg); }
.ipsIconSpeaker-1 { background-image: url(icons_black/Speaker-1.svg); }
.ipsIconSpeaker-25 { background-image: url(icons_black/Speaker-25.svg); }
.ipsIconSpeaker-50 { background-image: url(icons_black/Speaker-50.svg); }
.ipsIconSpeaker-100 { background-image: url(icons_black/Speaker-100.svg); }
.ipsIconSpeedo { background-image: url(icons_black/Speedo.svg); }
.ipsIconSpeedo-0 { background-image: url(icons_black/Speedo-0.svg); }
.ipsIconSpeedo-25 { background-image: url(icons_black/Speedo-25.svg); }
.ipsIconSpeedo-50 { background-image: url(icons_black/Speedo-50.svg); }
.ipsIconSpeedo-75 { background-image: url(icons_black/Speedo-75.svg); }
.ipsIconSpeedo-100 { background-image: url(icons_black/Speedo-100.svg); }
.ipsIconStars { background-image: url(icons_black/Stars.svg); }
.ipsIconSun { background-image: url(icons_black/Sun.svg); }
.ipsIconTalk { background-image: url(icons_black/Talk.svg); }
.ipsIconTap { background-image: url(icons_black/Tap.svg); }
.ipsIconTelephone { background-image: url(icons_black/Telephone.svg); }
.ipsIconTemperature { background-image: url(icons_black/Temperature.svg); }
.ipsIconTemperature-0 { background-image: url(icons_black/Temperature-0.svg); }
.ipsIconTemperature-25 { background-image: url(icons_black/Temperature-25.svg); }
.ipsIconTemperature-50 { background-image: url(icons_black/Temperature-50.svg); }
.ipsIconTemperature-75 { background-image: url(icons_black/Temperature-75.svg); }
.ipsIconTemperature-100 { background-image: url(icons_black/Temperature-100.svg); }
.ipsIconTitle { background-image: url(icons_black/Title.svg); }
.ipsIconTopFloor { background-image: url(icons_black/TopFloor.svg); }
.ipsIconTree { background-image: url(icons_black/Tree.svg); }
.ipsIconTurnLeft { background-image: url(icons_black/TurnLeft.svg); }
.ipsIconTurnRight { background-image: url(icons_black/TurnRight.svg); }
.ipsIconTV { background-image: url(icons_black/TV.svg); }
.ipsIconUnicorn { background-image: url(icons_black/Unicorn.svg); }
.ipsIconVentilation { background-image: url(icons_black/Ventilation.svg); }
.ipsIconWarning { background-image: url(icons_black/Warning.svg); }
.ipsIconWave { background-image: url(icons_black/Wave.svg); }
.ipsIconWC { background-image: url(icons_black/WC.svg); }
.ipsIconWellness { background-image: url(icons_black/Wellness.svg); }
.ipsIconWindDirection { background-image: url(icons_black/WindDirection.svg); }
.ipsIconWindow { background-image: url(icons_black/Window.svg); }
.ipsIconWindow-0 { background-image: url(icons_black/Window-0.svg); }
.ipsIconWindow-100 { background-image: url(icons_black/Window-100.svg); }
.ipsIconWindSpeed { background-image: url(icons_black/WindSpeed.svg); }
.ipsIconWindSpeed-0 { background-image: url(icons_black/WindSpeed-0.svg); }
.ipsIconWindSpeed-30 { background-image: url(icons_black/WindSpeed-30.svg); }
.ipsIconWindSpeed-60 { background-image: url(icons_black/WindSpeed-60.svg); }
.ipsIconWindSpeed-100 { background-image: url(icons_black/WindSpeed-100.svg); }
.ipsIconXBMC { background-image: url(icons_black/XBMC.svg); }
