/* ---------------------------------------------------------
  SVG Manipulation - geht nur, wenn die SVGs "inline" sind,
  nicht bei URLs
.icon { fill: #800000 !important; }
*/
/*
.link>.ipsIconPaintbrush {
  background-image: url('icons_colored/Paintbrush.svg');
}
.link>.ipsIconGraph {
  background-image: url('icons_colored/Graph.svg');
}
*/

/* -------------------------
   Globale Einstellungen
   ------------------------- */

body,
.ipsTabPane>.navigation  {
  font-family: Arial,sans-serif;
  color: rgba(0,0,0,0.9)/*fcl*/;
}

.ipsWebFront,
.ipsDialog.modal,
.ipsContentChanger > .navigation
{
  background-image: none;
  background: #FAFAFA/*bc*/;
}

/* --------------------------
   Navigation
   -------------------------- */
   
/* Oberste Navigationszeile TOP */
.ipsWebFront>.ipsContainer>.top>div>.navigation
{
  background: #616161/*bca*/;
}

/* Statuszeile, wird an der height mit 34 px erkannt */
.bottom[style*="height: 34px;"] .navigation
{
  box-shadow: 0 0 2px rgba(255,255,255,0.24);
  background: #616161/*bca*/;
}

/* Navigationszeilen  */
.ipsTabPane>.navigation,
.ipsContentChanger >.navigation 
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.12)/*sca1*/, 0 3px 6px rgba(0,0,0,0.24)/*sca2*/;
  background-image: none;
  border-color: transparent;
  background: #757575/*bcn*/;
}

/* Navigation Textfarbe */
.ipsTabPane>.navigation,
.ipsContentChanger>.navigation 
{
  color: #FFFFFF/*fcn*/;
}

/* Aktives Element in Bars */
.ipsTabPane>.navigation>.scroll>.buttons>div.active,
/* wenn aktives Element = 1.Child, dann auch */
.ipsTabPane>.navigation>.scroll>.buttons.subHidden>div.active:first-child 
{
  border-color: #64B5F6/*ac*/;
  font-weight: normal;
  color: #FFFFFF/*fcn*/;
  opacity:1.0;
}

/* Buttons in Nav */
.ipsTabPane>.navigation>.scroll>.buttons>div,
/* wenn aktives Element = 1.Child, dann auch */
.ipsTabPane>.navigation>.scroll>.buttons.subHidden>div:first-child 
{
  font-size: 1.1em;
  line-height: 1.8em;
  opacity : 0.74;
  border-style: solid;
  border-width: 0 0 4px 0;
  border-color: transparent;
  padding: 0 8px;
}




/* --------------------------
   Info Widgets
   -------------------------- */
/* Uhr etwas größer */
.ipsClockWidget>.title 
{
  font-size: 1.5em;
}

/* --------------------------
   Container
   -------------------------- */
.ipsCategory>.container  {
  border-color: transparent;
  background-image: none;
  background: transparent;
}

/* 
  hb = hide border
  sb = show border 
*/
/*sb*/._disabled/*/sb*/ .ipsCategory>.container  {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12)/*scc1*/, 0 1px 3px rgba(0,0,0,0.24)/*scc2*/;
  background: #FFFFFF/*bcc*/;
}

/*hb*//*/hb*/ .left {
  box-shadow: 1px 0 1px rgba(0,0,0,0.12)/*scc1*/;
}

/*hb*//*/hb*/ .top  {
  box-shadow: 0 1px 1px rgba(0,0,0,0.12)/*scc1*/;
}

.ipsSplitPane.border >.top,
.ipsSplitPane.border >.left {
  border-color: transparent;
}

.ipsCategory>.container .childContainers>div {
  border-color: transparent;
  margin: 4px 0;
}
   

/* --------------------------
   Werte
   -------------------------- */

.ipsCategory>.container .content .visual>.enum>div, 
   
   
 /* Label */
.ipsCategory>.container .content .title {
  color: rgba(0,0,0,0.74)/*fcl*/;
}
 
/* Werte und Texte  */       
.ipsCategory>.container .extended>.textBox>div,
.ipsCategory>.container .extended>.textBox>textarea,
.ipsCategory>.container .content .visual>.text>input[type=text],
.ipsCategory>.container .content .visual>.text, 
.ipsCategory>.container .content .visual>.enum>div, 
.ipsCategory>.container .content .visual>.selector>div,
.ipsCategory>.container .extended>.textBox>div 
{
  color: #000000/*fcv*/;
  background-color: transparent;
  border-color: transparent;
  font-weight: normal;
  font-size: 1.0em;
}

/* Nicht selektierte Elemente */
.ipsCategory>.container .content .visual>.enum>div,
.ipsCategory>.container .content .visual>.selector>div,
.ipsCategory>.container .extended>.textBox>div {
  background-image: none;
  font-weight: normal;
  font-size: 1.0em;
  color: #000000/*fcv*/; 
  margin: -3px 0px -3px 0px;
  border-radius: 16px;
}

/* Werte, selektiert */
.ipsCategory>.container .content .visual>.enum>.selected,
.ipsCategory>.container .content .visual>.selector>.selected 
 {
  background-color: transparent;
  background-image: none;
  font-weight: normal;
  font-size: 1.0em;
  color: #FFFFFF/*fcn*/;
  background: #64B5F6/*ac*/;
  border-radius:16px;
  box-shadow: 0 0 3px rgba(0,0,0,0.12)/*scc1*/, 0 1px 2px rgba(0,0,0,0.24)/*scc2*/;
}

/* Rahmen*/
.ipsCategory>.container .content .visual>.enum, 
.ipsCategory>.container .content .visual>.selector {
  padding: 0;
  border-radius: 16px;
  /*background: rgba(0,0,0,0.12);*/
  border: 1px solid rgba(0,0,0,0.12)/*scc1*/;
}

/* --------------------------
   Eingabefelder
   -------------------------- */
.ipsDialog.ipsEditorDialog>div>.content>ol>li>input[type=text], 
.ipsDialog.ipsEditorDialog>div>.content>ol>li>select, 
.ipsDialog.ipsEditorDialog>div>.content>select {
  background: #FFFFFF/*bcc*/;
  border: 1px solid #64B5F6/*ac*/;
  color: #000000/*fc*/;
}

/* --------------------------
   Slider
   -------------------------- */

/* Slider Background */
.ipsCategory>.container .content .visual>.slider>div>.background  {
  background-image: none;
  top:12px;
  height:5px;
  background: rgba(0,0,0,0.1)/**/;
}
/* Slider Bar */
.ipsCategory>.container .content .visual>.slider>div>.bar {
  background-image: none;
  top:0px;
  height:28px;
  background: linear-gradient(transparent 40%, #64B5F6/*ac*/ 40%, #64B5F6/*ac*/ 60%, transparent 60%);   
  border: none;
  opacity: 1.0;
}
/* Slider Anfasser */
.ipsCategory>.container .content .visual>.slider>div>.bar:after{
  padding: 0px 10px 8px 10px;
  background: #64B5F6/*ac*/;
  border-radius: 16px;
  color: #64B5F6/*ac*/;
  content: '*';
  box-shadow: 0 0 3px rgba(0,0,0,0.12)/*scc1*/, 0 1px 2px rgba(0,0,0,0.24)/*scc2*/;
}
/* Slider Text */
.ipsCategory>.container .content .visual>.slider>div>.text {
  color: #000000/*fcv*/;
  font-weight: normal;
  top: 8px;
}

.ipsCategory>.container .content .link>.keyboardLink,
.ipsCategory>.container .content .link>.chartLink,
.ipsCategory>.container .content .link>.timerLink,
.ipsCategory>.container .content .link>.runLink,
.ipsCategory>.container .content .link>.colorLink {
}

/* --------------------------
   Links und Buttons
   -------------------------- */
.link {
  background:#64B5F6/*ac*/;
  box-shadow: 0 0 3px rgba(0,0,0,0.12)/*scc1*/, 0 1px 2px rgba(0,0,0,0.24)/*scc2*/;
  border-radius:2px;
  height: 34px;
  top: 2px;
  display: block!important;
}

.color>div {
  box-shadow: 0 0 3px rgba(0,0,0,0.12)/*scc1*/, 0 1px 2px rgba(0,0,0,0.24)/*scc2*/;
  border-radius:2px;
}


/* --------------------------
   Hover
   -------------------------- */
.link:hover,
.color>div:hover,
.selected:hover,
.ipsCategory>.container .content .visual>.slider>div>.bar:hover:after,
.ipsCategory>.container .content .visual>.enum>.selected:hover,
.ipsCategory>.container .content .visual>.selector>.selected:hover 
 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.12)/*sca1*/, 0 3px 6px rgba(0,0,0,0.24)/*sca2*/;

}





/* --------------------------
   Überschriften
   ipsContainer container nestedUneven ipsVariable
   -------------------------- */

/* Container Überschriften */
.ipsCategory>.ipsContainer>.content>.title
{
  font-size : 1.2em;
  font-weight: bold;
  color: rgba(0,0,0,0.5)/*fch*/;
}

/* Zwischenüberschriften */
.ipsContainer>.content>.ipsIconMinus + .title
{
  font-size : 1.1em;
  font-weight: bold;
  color: rgba(0,0,0,0.5)/*fch*/;
}


/* --------------------------
   Sonstiges
   -------------------------- */

/* iFrame ohne Border */
iframe {
  border-style: solid;
  border-color: transparent;
}


/*
@media (max-width: 480px) {
.ipsCategory>.container {
  min-width:100%;
  }
}
*/


.ipsCategory>.container .content .visual>.text.colored {
    background: transparent;
}


.ipsCategory>.container .childContainers {
    background: transparent;
    border-color: transparent;
}

.ipsCategory>.container .extended>.media {
    background: transparent;
    border-color: transparent;
}



/* --------------------------
   Dialoge
   -------------------------- */

/* aussen - abdunkeln des Rests */
.ipsDialog.modal {
  background-image: none;
  background-color: rgba(0,0,0, 0.80);
}

/* innen */
.ipsDialog>div {
  background-image: none;
  background: #757575/*bcn*/;
  border-color: transparent;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25)/*scd1*/, 0 10px 10px rgba(0,0,0,0.22)/*scd2*/;
  bottom: 10%;
  left: 10%;
  right: 10%;
  top: 10%;
  font-size: 17px;
}


.ipsDialog>div>.content {
  right: 0px!important;
  background: #FAFAFA/*bc*/;
}

/* Dialogüberschrift */
.ipsDialog>div>.title {
  font-size : 1.2em;
  color: #FFFFFF/*fcn*/;
}

.ipsDialog>div>.titleLine {
    background-image: none;
}
.ipsDialog>div>.bottomLine {
    background-image: none;
}
.ipsDialog.ipsColorDialog .verticalLine {
    background-image: none;
}

.ipsDialog.ipsEventDialog>div>.content>.outerCenter>.center>.linesContainer>.touchContainer>.sliderContainer>.slider {
    background-image: none;
}

/* --------------------------
   Chart
   -------------------------- */
.ipsChart,
.ipsDialog.ipsChartDialog>div>.content {
  background-image: none;
  background: #757575/*bcg*/; 
}

/*sb*/._disabled/*/sb*/ .ipsChart {
  box-shadow: 0 1px 2px rgba(0,0,0,0.12)/*scc1*/, 0 1px 3px rgba(0,0,0,0.24)/*scc2*/;
}

/* Chartdialoge groß */
.ipsChartDialog>div {
  bottom: 5% !important;
  left: 3% !important;
  right: 3% !important;
  top: 5% !important;
}


/* --------------------------
   Sonst
   -------------------------- */
img {
  box-shadow: 0 1px 2px rgba(0,0,0,0.12)/*scc1*/, 0 1px 3px rgba(0,0,0,0.24)/*scc2*/;
}
   
.ipsLogin {
    background-image: none;
}

.ipsTabPane>.content {
    background-image: none;
}

.ipsCategory > .container .extended > .textBox, 
.ipsCategory > .container .extended > .htmlBox, 
.ipsCategory > .container .extended > .mailBox {
    background-image: none;
    background-color: transparent;
    border-color: transparent;
}


.ipsLogin {
    background-image: none;
    background-color: transparent;
}


.ipsNotifications>.ipsNotification{
  border-radius: 3px;
  background-image: none;
  background: #606060/*bcg*/;
  border-color: transparent;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25)/*scd1*/, 0 10px 10px rgba(0,0,0,0.22)/*scd2*/;
}

.ipsNotifications>.ipsNotification>.message{
  background: #606060/*bcg*/;
  color: #FFFFFF/*fcn*/;
}

.ipsNotifications>.ipsNotification>.spacer {
  height: 0px;
}
.ipsNotifications>.ipsNotification>.message.icon>div:first-child {
  left: 88%;
  top: 16px; 
}

.ipsNotifications>.ipsNotification>.message.icon>.content {
  left: 0px;
  width: 95%;
  top: 16px;
}
/* ---------------------------------------------------------
   IPS Edit mode 
   --------------------------------------------------------- */

.ipsDialog.ipsEditorDialog>div,
.editable  .content.exclusive,
.new
{
  border-style: dotted !important;
  border-width: 1px;
  border-color: #0D47A1 !important;
}

.ipsDialog.ipsEditorSelectDialog>div>.content,
.ipsDialog.ipsEditorDialog>div>.content {
  font-size: 15px;
  right: 0px;
  background: #2196F3;
  color: #FFFFFF;
}

.new,
.new-text,
.edit,
.ipsEditorDialog>div,
.ipsEditorSelectDialog>div,
.ipsEditorSelectDialog .iconSmall,
.ipsEditorDialog .iconSmall,
.ipsEditorDialog .content 
{
  background-color: #2196F3;
  opacity: 1.0 !important;
}

.ipsEditorSelectDialog .treeIcon, 
.ipsEditorSelectDialog label
{
  opacity: 1.0 !important;
}
.ipsDialog.ipsEditorDialog>div>.content>ol>li>select>option, 
.ipsDialog.ipsEditorDialog>div>.content>select>option
{
  background-color: #FAFAFA/*bc*/;
}

.save.icon,
.edit.icon,
.edit.iconSmall,
.edit.iconExtraSmall,
.new.icon,
.new-text.iconExtraSmall
{
  box-shadow: 0 0 4px rgba(0,0,0,0.48)/*scd1*/, 0 14px 28px rgba(0,0,0,0.24)/*scd2*/;
  border-radius: 50%;  
  padding: 2px 4px 2px 0px;
  border-width: 0px !important;
  background-color: #2196F3;
}

.ipsWebFront.editable>.save
{
  background-color: #8BC34A;
  border-width: 0px !important;
  opacity: 1.0 !important;
}

.new:hover,
.new-text:hover,
.edit:hover,
.save.icon:hover,
.edit.icon:hover,
.edit.iconSmall:hover,
.edit.iconExtraSmall:hover,
.new.icon:hover,
.new-text.iconExtraSmall:hover
{
  box-shadow: 0 14px 28px rgba(0,0,0,0.48)/*scd1*/, 0 10px 10px rgba(0,0,0,0.24)/*scd2*/;
  transition: all 0.2s ease-in-out;
}


/*
input, textarea, keygen, select, button {
  font: 17px Arial;
}  
*/

/*  Hierarchie

ipsWebFront
--ipsContainer
----navigation
----content
------category

*/